body {
	background-color: #FFFFFF;
}

.input-group .form-control {
	position: relative;
	z-index: 27;
	float: left;
	width: 100%;
	margin-bottom: -20px;
}

.ui-corner-all {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 5px;
}

.ui-inputfield {
	margin-top: -2px;
	font-weight: normal;
	margin-bottom: -1px;
	width: 250px;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 1.42857143;
	color: #333;
	background-color: #fff;
}

.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield
	{
	background: #fff;
	-moz-box-shadow: inset 0 0px 3px #8f8f8f;
	-webkit-box-shadow: inset 0 2px 2px #8f8f8f;
	box-shadow: inset 0 0px 20px #FFFFFF;
	color: #313131;
}

.ui-outputlabel .ui-outputlabel-rfi {
	margin-left: 16.4em;
}

.ui-messages-info, .ui-message-info {
	color: #0c0c0c;
	background-color: #A2FB9E;
	border-color: #0c0c0c;
}

.ui-messages-info-icon {
	background-position: 29px;
}

.form-control {
	margin-top: -2px;
	margin-bottom: 10px;
}

.modal-header {
	text-align: center;
}

.container-fluid {
	text-align: center;
}

.container {
	text-align: center;
	width: 900px;
	margin-top: 20px;
	margin-left: :auto;
	margin-right: auto;
}

.footer {
	text-align: center;
	margin-top: 100px;
	margin-left: :auto;
	margin-right: auto;
}

.table {
	margin-top: 20px;
}

.form-control {
	margin-top: -2px;
	margin-bottom: 10px;
}

.imagem {
	width: 100px;
	height: 90px;
	margin: 10px auto 30px;
	background-size: cover;
}

.btn {
	margin-left: :auto;
	margin-right: auto;
}

.btn-outline {
	background-color: transparent;
	color: inherit;
	transition: all .5s;
}

.btn-primary.btn-outline {
	color: #428bca;
}

.btn-success.btn-outline {
	color: #5cb85c;
}

.btn-info.btn-outline {
	color: #5bc0de;
}

.btn-warning.btn-outline {
	color: #f0ad4e;
}

.btn-danger.btn-outline {
	color: #d9534f;
}

.btn-primary.btn-outline:hover, .btn-success.btn-outline:hover,
	.btn-info.btn-outline:hover, .btn-warning.btn-outline:hover,
	.btn-danger.btn-outline:hover {
	color: #fff;
}

.ui-messages-error, .ui-message-error {
	color: #0c0c0c;
	background-color: #f2dede;
	border-color: #0c0c0c;
}